POSTGRES_VERSION=17
POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_PORT=5432

#Application
DATABASE_URL="postgresql://app_user:change_me_in_production@localhost:5432/app_db?schema=public"
PORT=3000

# Ollama uso na aplicação
USE_OLLAMA_CLOUD=true
OLLAMA_HOST_CLOUD=https://ollama.com
OLLAMA_HOST_LOCAL=http://localhost:11434/
OLLAMA_MODEL=gemma4:31b-cloud
OLLAMA_API_KEY=sua_chave_api_ollama

# Redis
REDIS_PORT=6379
REDIS_HOST=redis://localhost:6379
REDIS_PASSWORD=
REDIS_EXPIRE_TIME_DEFAULT=60
