POSTGRES_VERSION=17
POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_PORT=5432

#Application
DATABASE_URL="tring de conexão"
PORT=3000

# Ollama uso na aplicação
USE_OLLAMA_CLOUD=true 
OLLAMA_HOST_CLOUD=https://ollama.com
OLLAMA_HOST_LOCAL=http://localhost:11434/
OLLAMA_MODEL=Modelo Escolhido
OLLAMA_API_KEY=chave_key_ollama

# Redis
REDIS_PORT=6379
REDIS_HOST=redis://localhost:6379
REDIS_PASSWORD=